* {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

html,
body {
    height: 100%;
    background: linear-gradient(to right, #08AEEA, #2AF598);
    min-height: 100vh;
}



a:hover{
    color: white;
}

/* ---------------- LOGIN ------------------------------ */

h1 {
    font-family: 'Lexend Deca', sans-serif;
}

.form-signin {

    width: 90%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}



.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pass {
    margin-bottom: 10px;
}

.email {
    margin-bottom: -1px;
}

.recupera-password,
.logo a {
    float: right;
    text-decoration: none;
    color: rgb(46, 231, 9);
    margin-top: -20px;
    margin-bottom: 20px;
    transition: 0.4s;
}

.recupera-password:hover,
.logo a:hover {
    text-decoration: none;
    color: #f5f5f5;
}




.btn-password {
    margin-top: 20px;
}

.logo a {
    float: none;
}

.btn-ingreso {
    background: #4831d4;
    color: #ccf381;
}

.btn-ingreso:hover{
    background: #0c6251;
}


#btn-registro {
    color: #ccf381;
    margin-top: 10px;
    width: 100%;
}

#btn-registro:hover{
    background: #FFCD48;
}

/* -------------------------------------- */

/* ---------------- MEDIA ------------------- */


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .form-signin{
        margin-top: 0px;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 499px) {
    .form-signin{
        margin-top: 10%;
    }
    .footer{
        visibility: hidden;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (min-width: 991.98px) {

}

/*Large devices (desktops, less than 1200px)*/
@media (min-width: 1199.98px) {
    .form-signin{
        margin-top: 10%;
    }
}

/* --------------------------------------------- */

/* ------------------------- Registros ----------------------*/
.card{
    background: rgba(255, 255, 255, 0.39);
}

table{
	text-align: center;
}

#reg-cliente{
    margin-top: auto;
}
/* ----------------------------------------------------------*/

/* -------------------------- Nav ----------------------------*/
#nav{
    margin-top: 50px;
    border-radius: 20px;
    background: #ffcd40 !important;
}

/* -------------------------------------------------------------*/

/* ---------------------------- Footer -------------------------*/
.footer {

    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #ffd387;
    position: fixed;
    bottom: 0;

}

#lic{
    float: right;
}

/* ---------------------------- Textarea-------------------------*/
textarea {
    width: 300px;
    height: 70px;
}
/* ------------------------------------------------------------- */

#inicio-admin{
    margin-top: 70px;
}

.text-muted{
    font-size: 16px;
}

#reg-enfermero{
    margin-top: 70px;
}
